<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link rel="stylesheet" href="https://use.typekit.net/dyc5bmi.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body class="interior">
    <div id="lightbox-dim" class="hidden"></div>
    <div id="lightbox" class="hidden"></div>
    {% include header.html %}
    <main>
      <aside><ul></ul></aside>
      <article class="tutorial-page">
        <h2 class="event"> {{ page.subhead }} {{ page.title }} </h2>
        {{ content }}
        <a href="{{ "/tutorials" | relative_url}}" class="link-small">Back to Tutorials</a>
      </article>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}" charset="utf-8"></script>
    <script src="{{ "/assets/js/tutorial.js" | relative_url }}" charset="utf-8"></script>
  </body>
</html>
